.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Air Element */
.air {
  background-color: #f1faee; /* Light Airy White */
  color: #333;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  margin-top: 120px;
  margin-left: 320px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
    justify-content: center;
    align-items: center;
}
.ripple:hover {
  background: #f1faee radial-gradient(circle, transparent 1%, #f1faee 1%) center/15000%;
}
.ripple:active {
  background-color: #71846b;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0 0 4px #999;
  outline: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
